
main{
    border: 3px #f2f2f2;
    border-radius: 25px;
    background-color: #f2f2f2;
    width: 66%;
    margin: 10px ;
    align-items: center;
}
main article{
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 5px rgb(192, 191, 191);;
    
    
}
h1 .fa-solid{
    margin-left: 130px;

}
main h2{
    margin-left: 2%;
}
img{
    object-fit: cover;
}
main article{
    background-color: rgb(253, 251, 251);
    border: 4px solid #ffffff ;
   width: 30%;  
}
.container{
    width: 100%;
   
    padding: 4px;

}

main .container{
    padding-top: 4%;
    background: none;
    border: none;
}
.aside_maincontent article .blue .fa-solid{
    color:#0065FC ;
}
.aside_maincontent{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}
.aside_maincontent h3{
    margin: 0px;
}



main img{
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin:   20px 10px 40px;


    

}
.conteneur img{
    border-radius: 15px 15px 0 0;
}

/* For mobile phones: */

@media  (max-width: 767px){
    main{
     width: 100%;
     background:none;
     display: flex;
     flex-direction: column;
     
     
    
   
    }
    .aside_maincontent{
      width: 100%;
        
    
    }
    body{
        width: 90%;
        
        display: block;
        margin: auto;
        
    }
    main .container {
        padding-top: 8%;
        
    }
   
    
    
    
        
    
   
    
     h2{
        width: 100%;
        font-size: 25px;
        margin-top: 7%;
        
        
    } 
    .text h3{
        width: 100%;
        font-size: 20px;
        
    } 
    .text p{
        width: 100%;
        font-size: 20px;
        
    }
             
        
        

    
    
    
    .conteneur article{
        width: 100%;
        
        
        
        
        
    }
    main img{
        
        width: 100%;
        
       
    }

}
/*for tablet*/
@media  (max-width : 991px) and (min-width : 768px) {
    main{
       width: 100%; 
       background: none;
     
    }
   
    main article{
     
     width: 40%;
    }
    
  .aside_maincontent{
     display: flex;
     flex-direction: column;
  } 
  
  body{
    display: block;
    width: 90%;
    margin: auto;
  }
   
 }

 
    
    
    
       

    



